<!--{% load static %}-->
<!--<html>-->
<!--<head>-->
<!--<style>-->
<!--form {-->
<!--    border: 2px solid #f1f1f1;-->
<!--  }-->

<!--.a-->
<!--{-->
<!--  color : white;-->
<!--  font-size : 15px;-->
<!--  text-decoration : none;-->
<!--}-->
<!--  input[type=text],-->
<!--  input[type=password] {-->
<!--    width: 100%;-->
<!--    padding: 12px 20px;-->
<!--    margin: 8px 0;-->
<!--    display: inline-block;-->
<!--    border: 1px solid #ccc;-->
<!--    box-sizing: border-box;-->
<!--  }-->

<!--  button {-->
<!--    background-color:#5f4c4c;-->
<!--    color:white;-->
<!--    margin: 0px 0px;-->
<!--    font-size:20px ;-->
<!--    font-family:timesnewroman ;-->
<!--    height:50px;-->
<!--    border:none;-->
<!--    cursor: pointer;-->
<!--    width: 100%;-->
<!--    box-shadow: none;-->
<!--  }-->

<!--  button:hover {-->
<!--    opacity: 1;-->
<!--  }-->


<!--  .container {-->
<!--    padding: 30px;-->
<!--  }-->



<!--  @media screen and (max-width: 300px) {-->
<!--    span.new {-->
<!--      display: block;-->
<!--      float: none;-->
<!--    }-->
<!--  }-->
<!--  body{-->
<!--      background:url({% static 'images/6.jpg' %});-->

<!--       background-size:cover;-->

<!--    }-->
<!--x-->
<!--{-->
<!--  color : white;-->
<!--  font-size : 20px;-->
<!--  text-decoration : none;-->
<!--}-->
<!--x:hover-->
<!--{-->
<!--  color : yellow;-->
<!--  font-size : 24px;-->
<!--}-->
<!--.xx-->
<!--{-->
<!--  text-align : justify;-->
<!--font-size : 18px;-->
<!--line-height : 30px;-->
<!--text-indent : 0px;-->
<!--padding : 20px;-->

<!--opacity : 0.9;-->

<!--}-->
<!--.yy-->
<!--{-->
<!--  text-align : center;-->
<!--font-size : 18px;-->
<!--line-height : 10px;-->
<!--text-indent : 10px;-->
<!--padding : 0px;-->
<!--//opacity : 0.7;-->

<!--}-->


<!--</style>-->
<!--</head>-->
<!--<body>-->
<!--x<table><tr height="40px"></tr></table>-->
<!--<table border='0' width="100%" style="background-color: white;text-align:center;" cellspacing="0" cellpadding="0"  align="center">-->
<!--<tr height="10p">-->
<!--<td width="60%"><form method="get" action="#" style="font-size: 23px">-->
<!--    <button type="submit"><b>COVID-19 PREDICTION</b></button>-->
<!--</form></td>-->
<!--<td width="10%"><form method="get" action="login" style="font-size: 20px">-->
<!--    <button type="submit"><b>LOGIN</b></button>-->
<!--</form></td>-->
<!--<td width="10%"><form method="get" action="register" style="font-size: 20px" >-->
<!--    <button type="submit"><b>REGISTER</b></button>-->
<!--</form></td>-->

<!--&lt;!&ndash;<td width="10%"><form method="get" action="about/" style="font-size: 0px">-->
<!--    <button type="submit">About Us</button>-->
<!--</form></td>-->
<!--<td width="10%"><form method="get" action="Contact/" style="font-size: 0px">-->
<!--    <button type="submit">Contact Us</button>&ndash;&gt;-->
<!--</tr>-->
<!--</table>-->

<!--<!doctype html>-->
<!--<html lang="ar" dir="rtl">-->
<!--  <head>-->
<!--    &lt;!&ndash; Required meta tags &ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css" integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">-->

<!--  </head>-->
<!--  <body>-->

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>-->
<!--  </body>-->

<!--<br>-->
<!--<br>-->
<!--<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">-->
<!--  <div class="carousel-indicators">-->
<!--    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
<!--    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
<!--  </div>-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <img src="https://source.unsplash.com/1400x500/?CoronaVirus" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h5>Covid-19</h5>-->
<!--        <p>Social distancing</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="https://source.unsplash.com/1400x500/?covid-19/vaccine" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h5>Covid-19</h5>-->
<!--        <p>Wash Your Hand</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="https://source.unsplash.com/1400x500/?corona" class="d-block w-100" alt="...">-->
<!--      <div class="carousel-caption d-none d-md-block">-->
<!--        <h5>Covid-19</h5>-->
<!--        <p>Wear Mask</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->

<!--<br>-->



<!--<br>-->
<!--<table border='0'  width="80%" cellspacing="0" cellpadding="0"  align="centre" bgcolor="#B4DFE5" >-->
<!--<td height="250px">-->
<!--  <td width=3%></td>-->




<!--<td><p class="xx"> Coronavirus disease (COVID-19) is an infectious disease caused by the SARS-CoV-2 virus.-->

<!--Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment. However, some will become seriously ill and require medical attention. Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness. Anyone can get sick with COVID-19 and become seriously ill or die at any age.-->

<!--The best way to prevent and slow down transmission is to be well informed about the disease and how the virus spreads. Protect yourself and others from infection by staying at least 1 metre apart from others, wearing a properly fitted mask, and washing your hands or using an alcohol-based rub frequently. Get vaccinated when it’s your turn and follow local guidance.-->

<!--The virus can spread from an infected person’s mouth or nose in small liquid particles when they cough, sneeze, speak, sing or breathe. These particles range from larger respiratory droplets to smaller aerosols. It is important to practice respiratory etiquette, for example by coughing into a flexed elbow, and to stay home and self-isolate until you recover if you feel unwell.-->
<!--</p></td>-->
<!--<td width="20%"><img src="{% static 'images/5.jpg' %}" height="200px" width="100%"></td>-->
<!--<td width=3%></td>-->
<!--</table>-->
<!--<br>-->
<!--<table border='0' width="80%" cellspacing="0" cellpadding="0"  align="centre" bgcolor="B4DFE5" >-->
<!--<tr height="250px">-->
<!--  <td width=3%></td>-->
<!--  <td><p class="xx">-->
<!--The main objective of this project is to predict either the person is infected with Covid 19 or not and compare which predictive model gives best accuracy comparing with other predictive models. This analysis will help the patients to check whether the patient is affected with the Covid 19 or not through Online.</p></td>-->
<!--<td width=3%></td>-->
<!--<table>-->
<!--</tr>-->
<!--</table>-->
<!--</tr>-->
<!--</table>-->
<!--<br>-->
<!--<br>-->
<!--<footer class="bg-dark text-white pt-5 pb-4">-->
<!--  <div class="container text-center text-md-left">-->
<!--     <div class="row text-center text-md-left">-->
<!--      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">-->
<!--        <h5 class="text-uppercase mb-4 font-weighted-bold text-warning">Covid-19 Prediction</h5>-->
<!--        <p>This is a website for Covid-19 prediction.</p>-->
<!--      </div>-->
<!--       <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">-->
<!--        <h5 class="text-uppercase mb-4 font-weighted-bold text-warning">Services</h5>-->
<!--        <p>-->
<!--          <a href="#" class="text-white" style="text-decoration:none;"> Prediction</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#" class="text-white" style="text-decoration:none;"> Vaccine</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#" class="text-white" style="text-decoration:none;">Appointment</a>-->
<!--        </p>-->
<!--        <p>-->
<!--          <a href="#" class="text-white" style="text-decoration:none;"> </a>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">-->
<!--        <h5 class="text-uppercase mb-4 font-weighted-bold text-warning">Precautions</h5>-->
<!--          <p>-->
<!--              <i class="fas fa-home mr-3"></i>Social Distancing-->
<!--          </p>-->
<!--          <p>-->
<!--              <i class="fas fa-home mr-3"></i>Wear Mask-->
<!--          </p>-->
<!--          <p>-->
<!--          <i class="fas fa-home mr-3"></i>Wash Hands-->
<!--          </p>-->

<!--      </div>-->
<!--      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">-->
<!--        <h5 class="text-uppercase mb-4 font-weighted-bold text-warning">Contact</h5>-->
<!--        <p>-->
<!--          <i class="fas fa-home mr-3"></i>Greater Noida , India-->
<!--        </p>-->
<!--        <p>-->
<!--          <i class="fas fa-envelope mr-3"></i>Covid19@gmail.com-->
<!--        </p>-->
<!--        <p>-->
<!--          <i class="fas fa-phone mr-3"></i>8765432981-->
<!--        </p>-->

<!--      </div>-->

<!--    </div>-->
<!--    <hr class="row align-items-center">-->
<!--    <div class="col-md-7 col-lg-8 ">-->
<!--      <p>Copyright 2022 All rights reserved by:-->
<!--      <a href="#" style="text-decoration:none;">-->
<!--        <strong class="text-warning">Covid-19 Prediction</strong>-->
<!--      </a></p>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<!--</body>-->
<!--{% block content %}  {% endblock %}-->
<!--</html>-->


